<!-- Existing User Login Form -->
<form class="form-inline" id="login-form">
  <input type="text" class="form-control" id="" name="username">
  <input type="text" class="form-control" id="" name="password">
  <button type="submit" class="btn btn-primary" id="login-button">Log In</button>
</form>