<!-- Search Form -->
<form role="form" class="form-inline" id="search-form">
  <div class="form-group">
    <label for="search">Search Parameter:</label>
    <input type="search" class="form-control" id="search" name="search" autofocus>
  </div>
  <button type="submit" class="btn btn-default">Find</button>
</form>