<!-- New User Sign-Up Form -->
<form class="form-inline" id="signup-form">
  <input type="text" class="form-control" id="" name="name">
  <input type="text" class="form-control" id="" name="location">
  <input type="text" class="form-control" id="" name="instrument">
  <input type="text" class="form-control" id="" name="username">
  <input type="text" class="form-control" id="" name="password">
  <button type="submit" class="btn btn-primary" id="signup-button">Sign Up</button>
</form>