<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<% include ./_navbar %>
<div class="container">

add something like todo list

</div><!-- /.container -->
</body>
</html>