<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>

<% include ./_navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    
      <!--  display all users from database -->
      <% users.forEach(function (user) { %>
        <!-- interpolate the id into the link to take user to pizza show page -->
        <a href="/users/<%= user._id %>"> <%= user.name %> </a>
        <img src="<%= user.image %>">
      <% }); %>
      
    </div>
  </div>
</div>


</body>
</html>