<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>



<!-- TODO -->
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    
      
      
    </div>
  </div>
</div>



</body>
</html>

<!--  display all the pizzas from the database-->
<% pizzas.forEach(function(pizza) { %>
  <!-- interpolate the id into the link to take user to pizza show page -->
  <p><a href="/pizzas/<%= pizza._id %>"><%= pizza.size %> <%= pizza.crust %></a></p>
<% }); %>