<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>

<div class="container">

<!-- Profile Pic/Info -->
<div class="row">
  <div class="col-sm-6">
    <img src="http://placehold.it/200x200">
    <h2>Name:</h2>
  </div>
  <div class="col-sm-6">
    <h2>Location:</h1>
    <h2>Genres:</h2>
    <h2>Instruments:</h2>
  </div>
</div>

<!-- About Me -->
<div class="row">
  <h1>About:</h1>
  <p>Stuff about myself.</p>
</div>

<!-- My Projects -->
<div class="row">
  <h1>Projects:</h1>
  <p>Links to stuff.</p>
</div>

</div>

</body>
</html>