<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<div class="container">

<h1>Sign-Up Page</h1>

<!-- New User Sign-Up Form -->
<form role="form" class="form-inline" id="signup-form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-default">Sign-Up</button>
</form>

</div>
</body>
</html>